<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doo.mbutton.management.mapper.NotifyCcMapper">

	<sql id="selectNotifyCcDetail">
		A.CB_NOTIFY			AS cbNotify,
		A.CB_NOTIFY_SUB		AS cbNotifySub,
		A.M_SEQ				AS mSeq,
		A.NOTIFY_NM			AS notifyNm,
		A.NOTIFY_CONTENTS	AS notifyContents,
		A.NOTIFY_MAIN_NM	AS notifyMainNm

	</sql>
	
	<sql id="selectNotifyCcItemDetail">
		A.CB_NOTIFY			AS cbNotify,
		A.CB_NOTIFY_SUB		AS cbNotifySub,
		A.MAIN_DRUG_CD		AS mainDrugCd,
		A.MAIN_DRUG_NM	    AS mainDrugNm
	</sql>
	
	<sql id="selectCount">
		COUNT(*)	AS totalCount
	</sql>
	
	<select id="selectNotifyCcList" parameterType="NotifyCcVo" resultType="NotifyCcVo">
		 SELECT /* NotifyCcMapper.selectNotifyCcList */	* FROM (
      			SELECT 
		 		<choose>
					<when test="readType == 'data'">
						 <include refid="selectNotifyCcDetail"/>	
					</when>
					<otherwise>
						<include refid="selectCount"/>
					</otherwise>
				</choose>
	      FROM T_DRUG_NOTIFY_CC_INFO A 
	      WHERE 1=1	     
	      <if test="searchType != null and searchType != '' and searchText != null and searchText != ''">
	      	<if test="readType == 'data' and searchType == 'MAIN_DRUG_CD' or searchType == 'MAIN_DRUG_NM'">
				AND (A.CB_NOTIFY,A.CB_NOTIFY_SUB) IN(
					SELECT CB_NOTIFY,CB_NOTIFY_SUB FROM T_DRUG_NOTIFY_CC_ITEM A
					WHERE  A.${searchType} LIKE CONCAT('%', #{searchText}, '%')
				)
	      	</if>
	      	<if test="searchType != 'MAIN_DRUG_CD' and searchType != 'MAIN_DRUG_NM'">
				AND A.${searchType} LIKE CONCAT('%', #{searchText}, '%')
	      	</if>
		  </if>
		  
		  <if test="sSortOrder != null and sSortOrder != ''">
				ORDER BY A.${sSortOrder} ${sSortType}
		  </if>
			) A
		  <if test="readType == 'data'">
			LIMIT #{startRow}, #{rowPerPage}
		  </if>
	</select>
	
	<select id="selectNotifyCcItemList" parameterType="NotifyCcVo" resultType="NotifyCcVo">
		 SELECT /* NotifyCcMapper.selectNotifyCcItemList */	* FROM (
      			SELECT 
			<choose>
				<when test="readType == 'data'">
					<include refid="selectNotifyCcItemDetail"/>
				</when>
				<otherwise>
					<include refid="selectCount"/>
				</otherwise>
			</choose>
			FROM T_DRUG_NOTIFY_CC_ITEM  A  
		    LEFT OUTER JOIN T_DRUG_NOTIFY_CC_INFO B
	        ON (A.CB_NOTIFY = B.CB_NOTIFY AND A.CB_NOTIFY_SUB = B.CB_NOTIFY_SUB)
		    WHERE A.CB_NOTIFY = #{cbNotify}
		    AND   A.CB_NOTIFY_SUB = #{cbNotifySub}
		    <if test="searchType != null and searchType != '' and searchText != null and searchText != ''">
				AND A.${searchType} LIKE CONCAT('%', #{searchText}, '%')
		  	</if>
		  	ORDER BY A.MAIN_DRUG_CD
			) A
			<if test="readType == 'data'">
			LIMIT #{startRow}, #{rowPerPage}
			</if>
	</select>
	
	<select id="selectNotifyCc" parameterType="NotifyCcVo" resultType="NotifyCcVo">
		  SELECT /* NotifyCcMapper.selectNotifyCc */
			 B.MSG				AS msg,
			 <include refid="selectNotifyCcDetail"/>	
	      FROM T_DRUG_NOTIFY_CC_INFO A 
	      JOIN T_MSG B
	      ON A.M_SEQ = B.SEQ
	      WHERE CB_NOTIFY=#{cbNotify}
	      AND   CB_NOTIFY_SUB=#{cbNotifySub}
	      
	</select>
	
	<update id="updateNotifyCc" parameterType="NotifyCcVo">
		UPDATE /* NotifyCcMapper.updateNotifyCc */
		T_DRUG_NOTIFY_CC_INFO
		SET	
				NOTIFY_NM		=	#{notifyNm}
			,	NOTIFY_CONTENTS	=	#{notifyContents}
			,	M_SEQ			=	#{mSeq}
			,	UPDATER_ID 		=	#{updaterId}
			,	UPDATE_DTHMS 	=	CURRENT_TIMESTAMP 
		WHERE CB_NOTIFY=#{cbNotify}
	    AND   CB_NOTIFY_SUB=#{cbNotifySub}
	</update>
	
	<insert id="createNotifyCc" parameterType="NotifyCcVo">
		INSERT INTO /* NotifyCcMapper.createNotifyCc */ T_DRUG_NOTIFY_CC_INFO
			(
			CB_NOTIFY, 
			CB_NOTIFY_SUB, 
			M_SEQ, NOTIFY_NM, 
			NOTIFY_MAIN_NM, 
			NOTIFY_CONTENTS, 
			REGISTER_ID, 
			REGIST_DTHMS,
			UPDATER_ID, 
			UPDATE_DTHMS
			) 
		VALUES
			(
			#{cbNotify},
			1,
			#{mSeq}, 
			#{notifyNm}, 
			#{notifyMainNm}, 
			#{notifyContents}, 
			#{registerId},
			CURRENT_TIMESTAMP,
			#{registerId},
			CURRENT_TIMESTAMP
			)
	</insert>
	
	<select id="selectNotifyCcMax" resultType="String">
		 SELECT /* NotifyCcMapper.selectNotifyCcMax */ LPAD(MAX(CB_NOTIFY) + 1, 4, '0') FROM T_DRUG_NOTIFY_CC_INFO
	</select>
	
	<insert id="createNotifyCcItem" parameterType="NotifyCcVo" >
		INSERT INTO /* NotifyCcMapper.createNotifyCcItem */ T_DRUG_NOTIFY_CC_ITEM
			(MAIN_DRUG_CD, 
			 CB_NOTIFY, 
			 CB_NOTIFY_SUB, 
			 MAIN_DRUG_NM)
		SELECT MAIN_DRUG_CD, #{cbNotify} as CB_NOTIFY,  #{cbNotifySub} as CB_NOTIFY_SUB, MAIN_DRUG_NM FROM T_DRUG_MAIN WHERE
		MAIN_DRUG_CD IN 
        <foreach collection="mainDrugCdList" item="item" index="i" separator="," open="(" close=")">
            #{item}
        </foreach>
	</insert>
	
	<delete id="deleteNotifyCcItem" parameterType="NotifyCcVo" >
		<choose>
			<when test="arrDel != null and arrDel != ''">
				DELETE FROM T_DRUG_NOTIFY_CC_ITEM /* NotifyCcMapper.deleteNotifyCcItem */
				WHERE MAIN_DRUG_CD IN 
				<foreach collection="arrDel" item="cd" index="i" separator="," open="(" close=")">
		            #{cd}
		        </foreach>
			</when>
			<otherwise>
				DELETE FROM /* NotifyCcMapper.deleteNotifyCcItem */ T_DRUG_NOTIFY_CC_ITEM WHERE CB_NOTIFY = #{cbNotify} AND CB_NOTIFY_SUB = #{cbNotifySub}
			</otherwise>
		</choose>
	</delete>
	
	<select id="selectNotifyCcItemChk" parameterType="NotifyCcVo" resultType="NotifyCcVo">
		SELECT  /* NotifyCcMapper.selectNotifyCcItemChk */
			A.CB_NOTIFY			AS cbNotify,
			A.CB_NOTIFY_SUB		AS cbNotifySub,
			A.MAIN_DRUG_NM		AS mainDrugNm,
			A.MAIN_DRUG_CD		AS mainDrugCd,
			'이미 등록되었습니다.'	AS	msg
		  FROM T_DRUG_NOTIFY_CC_ITEM A WHERE MAIN_DRUG_CD IN 
		(
		SELECT MAIN_DRUG_CD FROM T_DRUG_MAIN WHERE
		MAIN_DRUG_CD IN 
        <foreach collection="mainDrugCdList" item="item" index="i" separator="," open="(" close=")">
            #{item}
        </foreach>
		AND CB_NOTIFY != #{cbNotify}
		)
	</select>
	
	<delete id="deleteNotifyCc" parameterType="NotifyCcVo">
		DELETE FROM /* NotifyCcMapper.deleteNotifyCc */ T_DRUG_NOTIFY_CC_INFO
		WHERE CB_NOTIFY IN
		<foreach collection="allCbNotify" item="cd" index="i" separator="," open="(" close=")">
            #{cd}
        </foreach>
		AND CB_NOTIFY_SUB IN
		<foreach collection="allCbNotifySub" item="cd" index="i" separator="," open="(" close=")">
            #{cd}
        </foreach>
	</delete>
	
	<select id="selectNotifyCcCnt" parameterType="NotifyCcVo" resultType="NotifyCcVo">
		SELECT /* NotifyCcMapper.selectNotifyCcCnt */ CB_NOTIFY AS cbNotify, CB_NOTIFY_SUB AS cbNotifySub 
		FROM T_DRUG_NOTIFY_CC_ITEM 
		WHERE CB_NOTIFY IN 
		<foreach collection="allCbNotify" item="cd" index="i" separator="," open="(" close=")">
            #{cd}
        </foreach>
		AND CB_NOTIFY_SUB IN 
		<foreach collection="allCbNotifySub" item="cd" index="i" separator="," open="(" close=")">
            #{cd}
        </foreach>
		GROUP BY CB_NOTIFY, CB_NOTIFY_SUB
	</select>
</mapper>