<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doo.mbutton.management.mapper.RelativeValueMapper">
	
	<select id="selectRelativeValueList" parameterType="String" resultType="RelativeValueVo">
			SELECT /* RelativeValueMapper.selectRelativeValueList */
					RV1,
					RV2,
					RV3,
					RV4,
					RV5,
					RV6,
					RV7
			FROM  T_RELATIVE_VALUE
			WHERE YEAR=#{year}
	</select>
</mapper>